In [7]:
range(10)
range(1,10)
range(1,10,2)
'101' in '1011010223101'
'1011010223101'.count('101')

3

In [9]:
for v in range(10):
    print(v)

0
1
2
3
4
5
6
7
8
9

In [11]:
for var in range(5):
    print(var,end=" ")

0 1 2 3 4

In [17]:
for j in range(2,10):
    print(j)
#print(count(j))
# help(?)

2
3
4
5
6
7
8
9

In [21]:
for i in range(1,10,2):
    print(i)
# count(i)

1
3
5
7
9

In [23]:
for i in range(2,10,2):
    print(i,end=" ")
    print(i)

2 2
4 4
6 6
8 8

In [26]:
for i in range(1,100,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [27]:
for i in range(2,100,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [32]:
for i in range(10,0,-1):
    print(i,end=",")

10,9,8,7,6,5,4,3,2,1,

In [33]:
for i in range(100,0,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [35]:
for i in range(99,0,-2):
    print(i,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [37]:
name="apssdc"
for i in name:
    print(i,end="")

apssdc

In [43]:
name="apssdc"
print(name[0])
print(name[2])
print(name[-1])
print(name[len(name)-1])

a
s
c
c

In [46]:
for p in range(len(name)):
    print(name[p],",position = ",p)

a ,position =  0
p ,position =  1
s ,position =  2
s ,position =  3
d ,position =  4
c ,position =  5

In [52]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [49]:
for ch in name:
    print(name)

apssdc
apssdc
apssdc
apssdc
apssdc
apssdc

In [51]:
for ch in name:
    print(ch)

a
p
s
s
d
c

In [53]:
n=int(input("enter a value"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter a value2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [60]:
n=int(input("enter a value"))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print(" ")

enter a value3
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [68]:
n=int(input("enter a value"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,"X",i,"=",i*j,end="         ")
    print("")

enter a value3
1 X 1 = 1         2 X 1 = 2         3 X 1 = 3
1 X 2 = 2         2 X 2 = 4         3 X 2 = 6
1 X 3 = 3         2 X 3 = 6         3 X 3 = 9
1 X 4 = 4         2 X 4 = 8         3 X 4 = 12
1 X 5 = 5         2 X 5 = 10         3 X 5 = 15
1 X 6 = 6         2 X 6 = 12         3 X 6 = 18
1 X 7 = 7         2 X 7 = 14         3 X 7 = 21
1 X 8 = 8         2 X 8 = 16         3 X 8 = 24
1 X 9 = 9         2 X 9 = 18         3 X 9 = 27
1 X 10 = 10         2 X 10 = 20         3 X 10 = 30

In [70]:
n=int(input("enter a value"))
for i in range(1,n+1):
    print("*"*i)
    #for j in range()

enter a value3
*
**
***

In [72]:
for i in range(1,n):
    
    print(i)

1
2

In [77]:
f=input("enter a value")
s=input("enter a value")
t=input("enter a value")
def maximum(f,s,t):
    if f>s and f>t:
        print("f is biggest")
    if s>f and s>t:
        print("s is biggest")
    if t>s and t>f:
        print("t is biggest")
maximum(f,s,t)

enter a value1
enter a value2
enter a value3
t is biggest

In [ ]:
f=input("enter a value")
s=input("enter a value")
t=input("enter a value")
def minimum(f,s,t):
    if f>s and f>t:
        print("f is biggest")
    if s>f and s>t:
        print("s is biggest")
    if t>s and t>f:
        print("t is biggest")
maximum(f,s,t)

In [ ]:
#print even no in given range