In [ ]:
range(10)
range(1,10)
range(1,10,2)
'101' in '1011010223101'
'1011010223101'.count('101')

In [ ]:
for v in range(10):
    print(v)

In [ ]:
for var in range(5):
    print(var,end=" ")

In [ ]:
for j in range(2,10):
    print(j)
#print(count(j))
# help(?)

In [ ]:
for i in range(1,10,2):
    print(i)
# count(i)

In [ ]:
for i in range(2,10,2):
    print(i,end=" ")
    print(i)

In [ ]:
for i in range(1,100,2):
    print(i,end=" ")

In [ ]:
for i in range(2,100,2):
    print(i,end=" ")

In [ ]:
for i in range(10,0,-1):
    print(i,end=",")

In [ ]:
for i in range(100,0,-2):
    print(i,end=" ")

In [ ]:
for i in range(99,0,-2):
    print(i,end=" ")

In [ ]:
name="apssdc"
for i in name:
    print(i,end="")

In [ ]:
name="apssdc"
print(name[0])
print(name[2])
print(name[-1])
print(name[len(name)-1])

In [ ]:
for p in range(len(name)):
    print(name[p],",position = ",p)

In [ ]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

In [ ]:
for ch in name:
    print(name)

In [ ]:
for ch in name:
    print(ch)

In [ ]:
n=int(input("enter a value"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

In [ ]:
n=int(input("enter a value"))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print(" ")

In [ ]:
n=int(input("enter a value"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,"X",i,"=",i*j,end="         ")
    print("")

In [ ]:
n=int(input("enter a value"))
for i in range(1,n+1):
    print("*"*i)
    #for j in range()

In [ ]:
for i in range(1,n):
    
    print(i)

In [ ]:
f=input("enter a value")
s=input("enter a value")
t=input("enter a value")
def maximum(f,s,t):
    if f>s and f>t:
        print("f is biggest")
    if s>f and s>t:
        print("s is biggest")
    if t>s and t>f:
        print("t is biggest")
maximum(f,s,t)

In [ ]:
f=input("enter a value")
s=input("enter a value")
t=input("enter a value")
def minimum(f,s,t):
    if f<s and f<t:
        print("f is small")
    elif s<t:
        print("s is small")
    else:
        print("t is small")
minimum(f,s,t)

In [ ]:
f=input("enter a value")
s=input("enter a value")
t=input("enter a value")
def minimum(f,s,t):
    if f<s and f<t:
        return f
    elif s<t:
        return s
    else:
        return t
a=minimum(f,s,t)
print(a)

In [ ]:
s=int(input("starting value"))
e=int(input("ending value"))
def even_no(s,e):
    for i in

In [ ]:
n=int(input("enter a value"))
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        print(n," is prime")
    else:
        print(n," is not prime")
prime(n)

In [ ]:
st=int(input("enter value"))
en=int(input("enter othr value"))
for i in range(st,en):
    prime(st,en)

In [ ]:
n=int(input("enter a value"))
def isprime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    return c
a=isprime(n)
if a==2:
    print("prime")
else:
    print("not prime")

In [ ]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

In [ ]:
start=int(input("start value"))
end=int(input("end value"))
for i in range(start,end+1):
    print(fact(i))

In [ ]:
#even nos in given range
a=int(input("enter a starting range"))
b=int(input("enter ending range"))
#for i in range(a,b+1,2)
def even(a,b):
    for i in range(a,b+1):
        if i%2==0:
            print(i)
even(a,b)

In [ ]:
#odd nos in given range
a=int(input("enter a starting range"))
b=int(input("enter ending range"))
#for i in range(a,b+1,2)
def odd(a,b):
    for i in range(a,b+1):
        if i%2!=0:
            print(i)
odd(a,b)

In [ ]:
for i in range(1,100):
    if i%5==0:
        continue
    print(i,end=" ")

In [ ]:
for i in range(1,100):
    if i%5!=0:
        continue
    print(i,end=" ")

In [ ]:
for i in range(1,100):
    if i%5==0:
        print(i,end=" ")
    continue

In [ ]:
li=[12,343,7,568.56,76.6,'dskfh']
print(li,type(li))
type(li)

In [ ]:
print(li[0])
len(li)
print(li[:1])
print(li[1:])
print(li[::-1])
print(li[2:])

In [ ]:
l1=[1,2,3,4]
print(li,l1)

In [ ]:
li+l1

In [ ]:
li

In [ ]:
l1

In [ ]:
help(dir)

In [ ]:
dir(list)

In [ ]:
li.append(23)

In [ ]:
li

In [ ]:
li.append(23)
li

In [ ]:
li.insert(2,234)

In [ ]:
li

In [ ]:
li.pop()

In [ ]:
li.remove(23)
li

In [ ]:
li.clear()
li

In [ ]:
del l1

In [ ]:
li=['sfjlf',759.75,93]

In [ ]:
li1=li

In [ ]:
li1,li

In [ ]:
li1.remove(93)

In [ ]:
li1,li

In [ ]:
li2=li.copy()

In [ ]:
li2,li

In [ ]:
li2.remove(759.75)

In [ ]:
li2,li

In [ ]:
li1,li

In [ ]:
li2.append(344)

In [ ]:
li2,li

In [ ]:
li2.count(344)

In [ ]:
li1.append(li)

In [ ]:
li

In [ ]:
li1[-1]

In [ ]:
l2=['hf',7,6.7]

In [ ]:
lu2=['fkjf','man',12,34]

In [ ]:
lu2.append(l2)

In [ ]:
lu2

In [ ]:
lu2[4]

In [ ]:
lu2[4][1]

In [ ]:
lu2

In [ ]:
lu2.pop()

In [ ]:
lu2

In [ ]:
lu2.remove('man')

In [ ]:
lu2

In [ ]:
lu2.remove('fkjf')

In [ ]:
lu2

In [ ]:
lu2.sort()

In [ ]:
lu2

In [ ]:
max(lu2)

In [ ]:
min(lu2)

In [ ]:
sum(lu2)

In [ ]:
n=int(input())
v=list(map(int,input().split()))
print(sum(v))
# for i in v:

In [4]:
#Dynamic list generation
li=[]
n=int(input("enter size:"))
for i in range(n):
    val=int(input("enter value"))
    li.append(val)

enter size:5
enter value1
enter value2
enter value3
enter value4
enter value5

In [5]:
sum(li)

15

In [6]:
max(li)

5

In [7]:
min(li)

1

In [8]:
li

[1, 2, 3, 4, 5]

In [9]:
sum(li)/len(li)

3.0

In [10]:
t=(12,11.2,'man')

In [11]:
t[::-1]

('man', 11.2, 12)

In [12]:
t.count(12)

1

In [14]:
t.index(11.2)

1

In [15]:
list(t)

[12, 11.2, 'man']

In [16]:
tuple(t)

(12, 11.2, 'man')

In [17]:
t[::-1]

('man', 11.2, 12)

In [18]:
t

(12, 11.2, 'man')

In [19]:
list(t)

[12, 11.2, 'man']

In [23]:
s={1,6,1,2,3,4,6}

In [24]:
s

{1, 2, 3, 4, 6}

In [26]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [31]:
a=input("enter string").split()
a

enter stringajay vinay sunil abdul

['ajay', 'vinay', 'sunil', 'abdul']

In [32]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [36]:
for i in a:
    if i.startswith('a'):
        print(i)

ajay
abdul

In [38]:
for i in a:
    if i.endswith('l'):
        print(i)

sunil
abdul

In [39]:
i

'abdul'

In [41]:
a=input("enter string").split()
a

enter stringajay vinay sunil abdul ajay vijay

['ajay', 'vinay', 'sunil', 'abdul', 'ajay', 'vijay']

In [44]:
for i in set(a):
    print(i,"-",a.count(i))

abdul - 1
vijay - 1
ajay - 2
vinay - 1
sunil - 1

In [46]:
st=input("enter string")
sm=0
c=0
for i in st:
    if i.isdigit():
        sm=sm+int(i)
        c=c+1
print(sm,c)

enter stringabdul123
6 3

In [48]:
st=input("enter string").split()
sm=0
c=0
for i in st:
    if i.isdigit():
        sm=sm+int(i)
        c=c+1
print(sm,c)

enter stringukhui 987 iuhui 874 984 uiju
2845 3