In [1]:
d1= {'name':'manasa','rollno':'169y1a0514','branch':'cse',}

In [2]:
d1

{'name': 'manasa', 'rollno': '169y1a0514', 'branch': 'cse'}

In [3]:
d1['name']

'manasa'

In [5]:
d1['name','rollno']

KeyError: ('name', 'rollno')

In [10]:
d1['email']

KeyError: 'email'

In [7]:
d1['name'] = 'krishna'

In [8]:
d1['name']

'krishna'

In [9]:
d1

{'name': 'krishna', 'rollno': '169y1a0514', 'branch': 'cse'}

In [13]:
d1['age'] = '20.0'

In [14]:
d1

{'name': 'krishna', 'rollno': '169y1a0514', 'branch': 'cse', 'age': '20.0'}

In [15]:
d1.keys()

dict_keys(['name', 'rollno', 'branch', 'age'])

In [16]:
d1.values()

dict_values(['krishna', '169y1a0514', 'cse', '20.0'])

In [17]:
d1.items()

dict_items([('name', 'krishna'), ('rollno', '169y1a0514'), ('branch', 'cse'), ('age', '20.0')])

In [18]:
d1.popitem()

('age', '20.0')

In [19]:
d1.pop('name') #pass key as argument

'krishna'

In [20]:
d1

{'rollno': '169y1a0514', 'branch': 'cse'}

In [21]:
marks = {}.fromkeys(['java','c','c++','python'],0)

In [23]:
m = {}
m.fromkeys(['hai','hello'],0)

{'hai': 0, 'hello': 0}

In [22]:
marks

{'java': 0, 'c': 0, 'c++': 0, 'python': 0}

In [24]:
marks.setdefault('c',435)

0

In [25]:
marks.setdefault('cc',435)

435

In [26]:
name = {'ajay','vijay','sunil','anil'}

In [27]:
name

{'ajay', 'anil', 'sunil', 'vijay'}

In [28]:
d = {}
name = input().split()

ajay vijay sunil anil

In [29]:
name

['ajay', 'vijay', 'sunil', 'anil']

In [31]:
d = {}
name = input().split()
for names in set(name):
    d[names] = name.count(names)

ajay vijay sunil anil

In [32]:
d

{'vijay': 1, 'anil': 1, 'ajay': 1, 'sunil': 1}

In [36]:
d = {}
name = input().split()
for names in set(name):
    d[names] = name.count(names)

ajay vijay sunil anil ajay vijay sunil anil

In [37]:
d

{'vijay': 2, 'anil': 2, 'ajay': 2, 'sunil': 2}

In [38]:
d = dict()
n = input().split()
n

ajay vijay sunil anil ajay vijay sunil anil

['ajay', 'vijay', 'sunil', 'anil', 'ajay', 'vijay', 'sunil', 'anil']

In [45]:
d = dict()
n = input().split()
n 
for i,v in enumerate(n):
    print(i,",",v)
    d[i]=v
d

ajay vijay sunil
0 , ajay
1 , vijay
2 , sunil

{0: 'ajay', 1: 'vijay', 2: 'sunil'}

In [46]:
d

{0: 'ajay', 1: 'vijay', 2: 'sunil'}

In [ ]:
s = input()
su=0
for ch in s:
    if ch.isdigit():
        su += int(ch)
su

In [ ]:
d = dict()
keys = list()
values = []
n = int(input("enter range"))
for i in range(n):
    k=input("enter a key")
    keys.append(k)
    v=input("enter a value")
    values.append(v)
for i in range(len(keys)):
    d[keys[i]]=value[i]

In [ ]:
d = dict()
keys = list()
values = []
n = int(input("enter range"))
for i in range(n):
    k=input("enter a key")
    keys.append(k)
    v=input("enter a value")
    values.append(v)
for i in range(len(keys)):
    d[keys[i]]=value[i]